/*===================*/
/*-- scss:defaults --*/
/*===================*/

$font-family-sans-serif: 'Noto Sans';
$presentation-heading-font: 'Noto Sans';

$body-color: #005aa0;
$body-bg: #e0eaf2;
$dark-blue: #0A2D6E;
$titlepadding: 8%;
$presentation-title-slide-text-align: left;
$heading1Size: 3.8rem;
$heading2Size: 3.8rem;
$heading3Size: 2.3rem;
$mainFontSize: 2.8rem;


/*================*/
/*-- scss:rules --*/
/*================*/

/*********************************************
 * Global Custom Settings
 *********************************************/
.reveal .slides {

    width: 85vw !important;
    height: calc(100% - 5vw) !important;
    transform: none !important;
    inset: 0 !important;

    .present {
        display: flex !important;
        flex-flow: column !important;
        justify-content: stretch !important;
    }
}

/*********************************************
 * Additional Settings for Default Envs.
 *********************************************/

h1::after {
  content: '\00a0'; /* This represents the non-breaking space character */
  font-weight: normal; /* Example styling */
  color: #999; /* Example styling */
}

h2::after {
  content: '\00a0'; /* This represents the non-breaking space character */
  font-weight: normal; /* Example styling */
  color: #999; /* Example styling */
}

h3::after {
  content: '\00a0'; /* This represents the non-breaking space character */
  font-weight: normal; /* Example styling */
  color: #999; /* Example styling */
}

/*********************************************
 * Custom Title Slide
 *********************************************/

.reveal .quarto-title-block h1 {
    padding-top: $titlepadding;
}

/*********************************************
 * Custom Settings
 *********************************************/

.reveal .footer {
    width: calc(100vw - 2 * 5vw) !important;
    max-width: calc(100% - 2 * 5vw) !important;
    height: 2.5vh !important;
    z-index: 10 !important;
    background-color: $body-color;
    padding-top: 0.5rem;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 0.5rem;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    bottom: 0 !important;
    position: fixed !important;
}

.reveal .slide-menu-button {
    z-index: 11 !important;
}

.slide-logo {
  display: block !important;
  position: fixed !important;
  top: 0 !important;
  right: 10px !important;
  max-height: 7% !important;
  height: 100% !important;
  width: auto !important;
  color: $body-color !important;
  padding: 0.5em;
}

.slide-logo-remove {
  display: block !important;
  position: fixed !important;
  top: -10rem !important;
  right: 10px !important;
  max-height: 7% !important;
  height: 100% !important;
  width: auto !important;
  color: $body-color !important;
  padding: 0.5em;
}


.search-bar {
    color: gray;
    background: white;
    font-size: 1rem;
    border-radius: 1rem;
    width: 50%;
    margin: 1rem;
    display: flex;
    padding: 0.25rem;

    p {
        margin: 0;
    }

    img {
        color: inherit !important;
        height: 1rem;
        margin: 0;
        padding-left: 1rem;
        padding-right: 0.5rem;
    }
}

.reveal .slide-menu-button {
    z-index: 11 !important;
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/

.slide-number, .reveal.has-logo .slide-number {
  bottom: 0.32rem !important;
  right: 25px !important;
  top: unset !important;
  color: #777777 !important;
}

.slide-number-a {
    position: absolute !important; 
    top: 30%; 
    transform: translate(0%, -50%);
    color: $body-bg;
    font-size: 0.8rem;
}

/*********************************************
 * Custom Environments
 *********************************************/

blockquote {
    display: block;
    margin-left: 0;
    color: $dark-blue !important;
    border-left: 0.25rem solid $dark-blue !important;
    padding-left: 0.25em;
}

/*********************************************
 * Custom DIV Styles
 *********************************************/

.columns {
    display: flex !important;
    height: 100% !important;

    .column {
        align-self: center;
    }
}

.tiny {
    font-size: 1.5rem;
}


.smaller {
    font-size: 1.75rem;
}


.small {
    font-size: 2.3rem;
}

.big {
    font-size: 3rem;
}

.bigger {
    font-size: 3.2rem;
}

.biggest {
    font-size: 3.5rem;
}

.superbiggest {
    font-size: 3.7rem;
    font-weight: bold;
}

.middle {
    position: absolute; 
    top: 50%; 
    width: 100%;
    transform: translate(0%, -50%);
}

.centered {
    position: relative; 
    text-align: center;
    width: 100%;
}

.right {
  float: left;
  width: auto;
  border: 0px solid #73AD21;
  padding: 0px;
}

.left {
  float: right;
  width: auto;
  border: 0px solid #73AD21;
  padding: 0px;
}

iframe {
    width: 71.43% !important;
    height: 71.43% !important;
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    transfrom: translate(-50%, -50%);
}
  
/*********************************************
 * BOXES
 *********************************************/
.panel-tabset {
    a {
        background-color: #bbb;
        padding: 0.5rem !important; 
        margin: 1rem;
        opacity: 0.85;   
        border-radius: 0.5rem;
    }
}
div.attention, div.important, div.danger, div.error {
    background-color: #fce8eb;
    color: #d93025;
    margin: 1rem 0 1rem 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border-color: rgba(255,255,255,0);    
}

div.caution, div.warning {
    background-color: #feefe3;
    color: #fa7b17;
    margin: 1rem 0 1rem 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border-color: rgba(255,255,255,0);    
}


div.hint, div.tip {
    background-color: #f3e8fd;
    color: #a142f4;
    margin: 1rem 0 1rem 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border-color: rgba(255,255,255,0);    
}

div.note {
    background-color: #e8f0fe;
    color: #1a73e8;
    margin: 1rem 0 1rem 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border-color: rgba(255,255,255,0);    
}

div.example {
    background-color: #f5f5e9;
    margin: 1rem 0 1rem 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border-color: rgba(255,255,255,0);    
}

div.tuf {
    background-color: rgba(0,100,170,1);
    color: #ffffff;
    margin: 1rem 0 1rem 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border-color: rgba(255,255,255,0);    
}

div.geo {
    background-color: #e08603;
    color: #ffffff;
    margin: 1rem 0 1rem 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border-color: rgba(255,255,255,0);    
}

div.material {
    background-color: #23bae2;
    color: #ffffff;
    margin: 1rem 0 1rem 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border-color: rgba(255,255,255,0);    
}

div.energy {
    background-color: #b5123e;
    color: #ffffff;
    margin: 1rem 0 1rem 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border-color: rgba(255,255,255,0);    
}

div.nature {
    background-color: #1a962b;
    color: #ffffff;
    margin: 1rem 0 1rem 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border-color: rgba(255,255,255,0);    
}

div.darkblue {
    background-color: $dark-blue;
    color: $body-bg;
    margin: 1rem 0 1rem 0;
    padding: 1.0rem;
    border-radius: 0.5rem;
    border-color: rgba(255,255,255,0);    
}

div.green {
    background-color: rgba(26,150,43,0.70);
    color: #2f3033;
    margin: 1rem 0 1rem 0;
    padding: 1.0rem;
    border-radius: 0.5rem;
    border-color: rgba(255,255,255,0);    
}

div.orange {
    background-color: rgba(224,134,3,0.70);
    color: #2f3033;
    margin: 1rem 0 1rem 0;
    padding: 1.0rem;
    border-radius: 0.5rem;
    border-color: rgba(255,255,255,0);    
}

div.red {
    background-color: rgba(165,23,21,0.5);
    color: #2f3033;
    margin: 1rem 0 1rem 0;
    padding: 1.0rem;
    border-radius: 0.5rem;
    border-color: rgba(255,255,255,0);    
}

div.white {
    background-color: #ffffff;
    color: #2f3033;
    margin: 1rem 0 1rem 0;
    padding: 1.0rem;
    border-radius: 0.5rem;
    border-color: rgba(255,255,255,0);    
}

.zoom {
  zoom: 250%;
}

